<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBp5Y0lcWXxZ9ZT9as6b3SiyqNJGDstnU8</string>
	<key>GCM_SENDER_ID</key>
	<string>371509554847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.myappstudy.FirebaseStorageApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-test-a8df6</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-test-a8df6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371509554847:ios:821e0a11bb720a4cb53caa</string>
</dict>
</plist>